# For previews, we publish an unbuilt version of the website
[build]
  publish = "www/dist"
  command = "pnpm run install-browsers && pnpm run build"
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = false
  minify = false
[build.processing.js]
  bundle = true
  minify = false
[build.processing.html]
  # Enforce trailing slashes at the end of URLs
  pretty_urls = true
[build.processing.images]
  compress = true

# Serve JSON Schema files with the correct MIME type
[[headers]]
  for = "/schemas/**/*.json"
  [headers.values]
    Content-Type = "application/schema+json"
