.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--toolbar-size);
}

.menu {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0 1rem;
}

.link {
  align-items: center;
  color: inherit;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  min-width: 1.5rem;
  text-decoration: none;
}
