---
import "./Header.scss";
import Stack from "@/components/Stack/Stack.astro";
import { SITE_TITLE } from "@/consts";
import { headerLinks } from "@/site.config";

const url = new URL(Astro.request.url);
---

<header class='l-header'>
  <a href='/' class='l-header__logo link-button'>
    <img
      class='header__logo'
      src='/assets/images/logo_48_2x.png'
      width='48'
      height='48'
      alt='DTCG Logo'
    />
    {SITE_TITLE}
  </a>
  <nav>
    <Stack as='ul' gap={6} axis='x' class='u-list-style:none'>
      {
        headerLinks.map((link) => (
          <li>
            <a
              aria-current={url.pathname === link.path ? "page" : false}
              class='link-button link-button--small-on-mobile'
              data-astro-prefetch
              href={link.path}
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </Stack>
  </nav>
</header>
