.l-header {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding-x);
  background-color: light-dark(var(--color-background-strong), var(--color-background-strong-inverse));
  text-wrap: balance;

  @media screen and (width > 870px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.l-header__logo {
  display: flex;
  align-items: center;
  gap: var(--base-space-4);
  @include text-body-m;
  padding-block: 0;

  img {
    width: var(--base-space-12);
    aspect-ratio: 1 / 1;
  }
}