@use "../../css/tokens" as *;
@use "../../css/mixins" as *;

.footer {
  background: $color-background-weak;
  color: $color-foreground-weak;

  @include dark-mode {
    background: $color-background-weak-inverse;
    color: $color-foreground-weak-inverse;
  }
}
