<footer class="footer">
	<div>
		&copy; {% currentYear %}
		<span>{{ metadata.htmlTitle | safe }}</span>
	</div>

	<ul>
		<li><a href="https://www.w3.org/community/design-tokens/">
			<span><abbr title="World Wide Web Consortium">W3C</abbr> Group</span>
		</a></li>
		<li><a href="https://github.com/design-tokens/">GitHub</a></li>
		<li><a href="https://twitter.com/DesignTokens">Twitter</a></li>
	</ul>
</footer>
