<footer class="footer flex-l items-center justify-between ph4 pv6">
	<p class="mv2">
		&copy; {% currentYear %}
		<span>{{ metadata.htmlTitle | safe }}</span>
	</p>

	<ul class="list pl0 mv0 nl3 ml0-l">
		<li class="dib mr2"><a href="https://www.w3.org/community/design-tokens/" class="link-button">
			<span><abbr title="World Wide Web Consortium">W3C</abbr> Group</span>
		</a></li>
		<li class="dib mr2"><a href="https://github.com/design-tokens/" class="link-button">GitHub</a></li>
		<li class="dib mr2"><a href="https://twitter.com/DesignTokens" class="link-button">Twitter</a></li>
	</ul>
</footer>
