.header {
	background: $color-background-strong;
	color: $color-foreground-strong;
	text-wrap: balance;	

	@include dark-mode {
	  background: $color-background-strong-inverse;
	  color: $color-foreground-strong-inverse;
	}
}

.header__logo {
	width: $sizing-xxlarge;
	height: $sizing-xxlarge;
}
