<header class="header flex justify-between items-center pa3">
	<a href="{{ '/' | url }}" class="inline-flex items-center link-button">
		<img
			class="header__logo mr3"
			src="/_includes/assets/images/logo_48_2x.png"
			width="48"
			height="48"
			alt="DTCG Logo"
		/>
		{{ metadata.title }}
	</a>
	{% include "../nav.njk" %}
</header>
