<header class="header">
	<em>
		<a href="{{ '/' | url }}">
			<img
				class="header__logo"
				src="_includes/assets/images/logo.png"
				width="48"
				height="48"
				alt="DTCG Logo"
			/>
			{{ metadata.title }}
		</a>
	</em>
	{% include "../nav.njk" %}
</header>
