.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { height: auto; }

.h1,
.h2,
.h3 {
	margin-top: $spacing-vertical-large;
}

.h1 {
	margin-bottom: $spacing-vertical-large;
	font-weight: normal;
	font-size: $font-size-xlarge;
	line-height: 1;

	@include mq(large) {
		font-size: $font-size-xxlarge;
	}

	@include mq(x-large) {
		font-size: $font-size-xxxlarge;
	}

	@include mq(xx-large) {
		font-size: $font-size-xxxxlarge;
	}
}

.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: $spacing-vertical-medium;
	font-weight: bolder;
}

.h2,
.h4,
.h6 {
	text-transform: uppercase;
	letter-spacing: 0.0625em;
}

.h1,
.h3,
.h5 {
	text-transform: none;
	letter-spacing: 0;
}

.h2,
.h3 {
	font-size: $font-size-large;
	line-height: 1.125;
}

.h4,
.h5,
.h6 {
	font-size: $font-size-medium;
	margin-top: $spacing-vertical-medium;
	line-height: 1.25;
}

.h6 {
	font-size: $font-size-small;
}
