:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.44rem;
  --font-size-xxl: 1.728rem;
  --font-size-xxxl: 2.074rem;
  --font-size-xxxxl: 2.488rem;
}
