:root {
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 3rem;
  --font-size-xxxlarge: 4rem;
  --font-size-xxxxlarge: 6rem;
}
