// cSpell:words xlarge xxxxlarge

@mixin text-heading1 {
  font-weight: 600;
  font-size: clamp(var(--font-size-xxxl), 2rem + 1vw, var(--font-size-xxxxl));
  line-height: 1;
}

@mixin text-heading2 {
  font-weight: 600;
  font-size: var(--font-size-xxxl);
  line-height: 1.125;
}

@mixin text-heading3 {
  font-weight: 600;
  font-size: var(--font-size-xxl);
  line-height: 1.125;
}

@mixin text-heading4 {
  font-weight: 600;
  font-size: var(--font-size-xl);
  line-height: 1.25;
}

@mixin text-heading5 {
  font-weight: 600;
  font-size: var(--font-size-lg);
  line-height: 1.25;
}

@mixin text-heading6 {
  font-weight: 600;
  font-size: var(--font-size-md);
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin text-body {
  font-weight: 400;
  font-size: var(--font-size-sm);
  line-height: 1.5;
}

@mixin text-sm {
  font-weight: 400;
  font-size: var(--font-size-sm);
}

@mixin text-xs {
  font-weight: 400;
  font-size: var(--font-size-xs);
}
