<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="list">
  {%- for entry in navPages %}
    <li class="dib">
      <a href="{{ entry.url | url }}" class="link-button {% if entry.url == page.url %}primary{% endif %}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
