---
import '@/assets/css/style.scss';
import MainHead from '@/components/MainHead.astro';
import Header from '@/components/Header.astro';
import HeaderMobile from '@/components/HeaderMobile.astro';
import SearchDialog from '@/components/SearchDialog.astro';
import Hero from '@/components/Hero.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  frontmatter?: Record<string, any>;
}

const { title, description, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead
      title={frontmatter?.title
        ? `${frontmatter.title} | ${SITE_TITLE}`
        : SITE_TITLE}
      description={description
        ? description
        : SITE_DESCRIPTION
          ? SITE_DESCRIPTION
          : frontmatter?.description
            ? frontmatter.description
            : undefined}
    />
    <style lang="scss">
      .header-size--mobile {
        display: block;

        @media (width >= 750px) {
          display: none;
        }
      }

      .header-size--desktop {
        display: none;

        @media (width >= 750px) {
          display: block;
        }
      }
    </style>
  </head>
  <body>
    <div class="header-size--mobile"><HeaderMobile /></div>
    <div class="header-size--desktop"><Header /></div>
    <main>
      <Hero title={title ? title : frontmatter?.pageTitle} />
      <slot />
    </main>
    <Footer />
    <SearchDialog />
  </body>
</html>
