---
import '@/assets/css/style.scss';
import Hero from '@/components/Hero.astro';

import Blank from './Blank.astro';

const { title, frontmatter } = Astro.props;
---

<Blank {...Astro.props}>
  <main class="page">
    <Hero title={title ?? frontmatter?.pageTitle} />
    <slot />
  </main>
</Blank>
