---
import '@/assets/css/style.scss';
import MainHead from '@/components/MainHead.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  frontmatter?: Record<string, any>;
}

const { title, description, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead
      title={frontmatter?.title
        ? `${frontmatter.title} | ${SITE_TITLE}`
        : SITE_TITLE}
      description={description
        ? description
        : SITE_DESCRIPTION
          ? SITE_DESCRIPTION
          : frontmatter?.description
            ? frontmatter.description
            : undefined}
    />
  </head>
  <body>
    <Header />
    <main>
      <Hero title={title ? title : frontmatter?.pageTitle} />
      <slot />
    </main>
    <Footer />
  </body>
</html>
