<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{% include "components/header/header.njk" %}

		{{ layoutContent | safe }}

		{% include "components/footer/footer.njk" %}

	</body>

</html>
