.l-footer {
  display: flex;
  gap: var(--base-space-8);
  background-color: var(--color-bg);
  border-block-start: 1px solid var(--color-border);
  padding-block-end: var(--base-space-12);
  padding-block-start: var(--base-space-8);
  padding-inline: var(--page-padding-x);

  @media screen and (width <= 950px) {
    flex-direction: column;
  }
  @media screen and (width >= 951px) {
    justify-content: space-between;
  }

  .link {
    font-size: var(--font-size-sm);
    line-height: 2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .social-link {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
      color: var(--color-action-subdued);
    }
  }
}

.l-footer__nav {
  --gap: var(--base-space-8);

  display: flex;
  gap: var(--gap);

  @media screen and (width <= 600px) {
    flex-direction: column;
  }

  @media screen and (width >= 601px) {
    --gap: var(--base-space-12);
  }
}

.l-footer__subnav {
  display: flex;
  flex-direction: column;
  gap: var(--base-space-4);
  width: max-content;
}
