<section>
	{% for post in postslist | reverse %}
	{% set link = post.data.redirect if post.data.redirect else post.url %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3 class="heading3 mb1">
				<a href="{{ link | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
			<p class="mt0">
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by <a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a></small>
				</time>
			</p>
			{% if post.data.tags %}
				<p>
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
