.l-hero {
  position: relative;
  padding: var(--base-space-12) var(--base-space-8);
  min-height: var(--base-space-12);
  background-color: color-mix(
    in oklch,
    light-dark(black, white),
    transparent 93%
  );
  color: light-dark(var(--color-foreground), var(--color-foreground-inverse));
  z-index: 1;
  overflow: hidden;
  background-image: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 15" fill="rgba(255,255,255,0.5)">\
    <path d="M26 0h-2.7c-3.6.6-6.8 2.5-9 5.2.6-1.6.9-3.4.9-5.2h-.5c0 2.5-.6 4.9-1.7 7-1.1-2.1-1.8-4.4-1.8-7h-.5c0 1.8.3 3.6.9 5.2C9.4 2.5 6.3.6 2.7 0H0v.5c1.1 2.1 1.8 4.4 1.8 7s-.6 4.9-1.8 7v.5h2.7c3.6-.6 6.8-2.5 9-5.2-.6 1.6-.9 3.4-.9 5.2h.5c0-2.5.6-4.9 1.8-7 1.1 2.1 1.7 4.4 1.7 7h.5c0-1.8-.3-3.6-.9-5.2 2.3 2.7 5.4 4.6 9 5.2H26v-.5c-1.1-2.1-1.8-4.4-1.8-7s.6-4.9 1.8-7V0zM2.2 7.5c0-1.8-.3-3.6-.9-5.2 2.3 2.7 5.4 4.6 9 5.2-3.6.6-6.8 2.5-9 5.2.6-1.6.9-3.4.9-5.2zM.5 14.7c2.5-4 6.9-6.8 12-7-2.5 4.1-6.9 6.9-12 7zM.5.3c5.1.2 9.5 2.9 12 7-5.1-.2-9.5-3-12-7zm13 7.5c5.1.2 9.5 2.9 12 7-5.1-.2-9.5-3-12-7zm10.3-.3c0 1.8.3 3.6.9 5.2-2.3-2.7-5.4-4.6-9-5.2 3.6-.6 6.8-2.5 9-5.2-.6 1.6-.9 3.4-.9 5.2zm-10.3-.3c2.5-4 6.9-6.8 12-7-2.5 4.1-6.9 6.9-12 7z"/>\
  </svg>');
  background-size: 72px;

  @media (prefers-color-scheme: dark) {
    background-image: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 15" fill="rgba(0,0,0,0.25)">\
        <path d="M26 0h-2.7c-3.6.6-6.8 2.5-9 5.2.6-1.6.9-3.4.9-5.2h-.5c0 2.5-.6 4.9-1.7 7-1.1-2.1-1.8-4.4-1.8-7h-.5c0 1.8.3 3.6.9 5.2C9.4 2.5 6.3.6 2.7 0H0v.5c1.1 2.1 1.8 4.4 1.8 7s-.6 4.9-1.8 7v.5h2.7c3.6-.6 6.8-2.5 9-5.2-.6 1.6-.9 3.4-.9 5.2h.5c0-2.5.6-4.9 1.8-7 1.1 2.1 1.7 4.4 1.7 7h.5c0-1.8-.3-3.6-.9-5.2 2.3 2.7 5.4 4.6 9 5.2H26v-.5c-1.1-2.1-1.8-4.4-1.8-7s.6-4.9 1.8-7V0zM2.2 7.5c0-1.8-.3-3.6-.9-5.2 2.3 2.7 5.4 4.6 9 5.2-3.6.6-6.8 2.5-9 5.2.6-1.6.9-3.4.9-5.2zM.5 14.7c2.5-4 6.9-6.8 12-7-2.5 4.1-6.9 6.9-12 7zM.5.3c5.1.2 9.5 2.9 12 7-5.1-.2-9.5-3-12-7zm13 7.5c5.1.2 9.5 2.9 12 7-5.1-.2-9.5-3-12-7zm10.3-.3c0 1.8.3 3.6.9 5.2-2.3-2.7-5.4-4.6-9-5.2 3.6-.6 6.8-2.5 9-5.2-.6 1.6-.9 3.4-.9 5.2zm-10.3-.3c2.5-4 6.9-6.8 12-7-2.5 4.1-6.9 6.9-12 7z"/>\
      </svg>');
  }
}
